.wrapper {
  width: 960px;
  margin: 0 auto;
}

div {
  border: 2px solid #ccc;
  margin: 10px;
  padding: 10px;
}

h3 {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 8px 10px 2px;
}

button {
  font-size: 1.5em;
}
